# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\JPA-DERSLERI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
